# CLI
typer[all]

# Type definitions
pydantic

# Computer Vision algorithms
opencv-python
# Sparse arrays
scipy

# HTTP API
fastapi
# ASGI server for production
uvicorn[standard]

# HTTP Requests
httpx

# Framework for async operations
reactivex

# Linter
ruff

# YOLO
ultralytics
