[Unit]
Description=Adeck Video Analytics Service
# Part of the adeck service group
PartOf=adeck-umbrella.service

[Service]
Environment=PYTHONPATH=/home/test/Code/adeck-analysis/
Environment=RUN_AS_SERVICE=True
# Make sure that the correct python binary is used when calling "python"!
ExecStart=/bin/bash /home/test/Code/adeck-analysis/scripts/run_api.bash
# Measure memory usage
MemoryAccounting=true
# Restart when the program somehow terminated (crash or succesful is irrelevant - this should always run)
Restart=always
# Don't wait longer than 25 seconds starting or stopping the process
TimeoutSec=25
User=test
Group=test
SyslogIdentifier=ADECK ANALYSIS

[Install]
# Part of the adeck service group
WantedBy=adeck-umbrella.service
